@using System.Diagnostics.Eventing.Reader
@model MMM.ViewModels.BankAccountViewModel.BankAccountListViewModel

<div class="bankAccount-info  panel panel-info">
    <div class="panel-heading"><h4>@Model.Name</h4></div>
    <div class="panel-body">
        <h3>
            @if (Model.Balance > 0)
            {
                <span class="label label-success">@Model.Balance</span>
            }
            else if (Model.Balance == 0)
            {
                <span class="label label-warning">@Model.Balance</span>
            }
            else
            {
                <span class="label label-danger">@Model.Balance</span>
            }
            <span class="pull-right label label-info">@Model.Currency</span>
        </h3>
    </div>
</div>