@model MMM.ViewModels.TransactionViewModel.TransactionDetailsViewModel

<div class="modal-content" id="ModalContent">
    <div class="modal-header modal-details-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4>@Html.DisplayFor(m => m.Name)</h4>
    </div>
    <div class="modal-body">
        <dl class="row h5">
            <dd class="col-xs-12 col-sm-2">Kwota:</dd>
            <dt class="col-xs-12 col-sm-10">
                @if (Model.Amount > 0)
                {
                    <p style="color: #5cb85c;">+@Html.DisplayFor(t => t.Amount) @Html.DisplayFor(t => t.Currency)</p>
                }
                else if (Model.Amount == 0)
                {
                    <p style="color: #f0ad4e;">@Html.DisplayFor(t => t.Amount) @Html.DisplayFor(t => t.Currency)</p>
                }
                else
                {
                    <p style="color: #d9534f;">@Html.DisplayFor(t => t.Amount) @Html.DisplayFor(t => t.Currency)</p>
                }
            </dt>
            <dd class="col-xs-12 col-sm-2">Saldo:</dd>
            <dt class="col-xs-12 col-sm-10">
                @if (Model.AccountBalance > 0)
                {
                    <p style="color: #5cb85c;">@Html.DisplayFor(t => t.AccountBalance) @Html.DisplayFor(t => t.Currency)</p>
                }
                else if (Model.AccountBalance == 0)
                {
                    <p style="color: #f0ad4e;">@Html.DisplayFor(t => t.AccountBalance) @Html.DisplayFor(t => t.Currency)</p>
                }
                else
                {
                    <p style="color: #d9534f;">@Html.DisplayFor(t => t.AccountBalance) @Html.DisplayFor(t => t.Currency)</p>
                }
            </dt>
            <dd class="col-xs-12 col-sm-2">Data: </dd>
            <dt class="col-xs-12 col-sm-10"><p>@Html.DisplayFor(t => t.SetDate)</p></dt>
            <dd class="col-xs-12 col-sm-2">Opis: </dd>
            <dd class="col-xs-12 col-sm-10">
                    @if (!String.IsNullOrEmpty(Model.Description))
                    {
                        <p style="color: #333;">@Html.DisplayFor(t => t.Description)</p>
                    }
                    else
                    {
                        <p style="color: #333;">Nie podano żadnego opisu.</p>
                    }
            </dd>
        </dl>
    </div>
    <div class="modal-footer">        
    </div>
</div>
