@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@model PagedList.IPagedList<MMM.ViewModels.TransactionViewModel.TransactionListViewModel>
@Scripts.Render("~/bundles/load-transaction-to-modal")
<script type="text/javascript">
    $(document).ready(function() {
        TransactionDeleteOpenModalListener('@Url.Action("Delete", "Transaction")', $bankAccountId);
        TransactionEditOpenModalListener('@Url.Action("Edit", "Transaction")',
            $bankAccountId,
            '@User.Identity.GetUserId()');
        PagingListener('@Url.Action("GetTransactionsByBankAccountId", "Transaction")', $bankAccountId);
    });
</script>

@foreach (var transaction in Model)
{
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
}

<div class="row col-xs-12 col-sm-12 col-md-12" id="pagingSystem">
    @Html.PagedListPager(Model, page => Url.Action("GetTransactionsByBankAccountId", "Transaction" ,
        new {page}))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>
