@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@model IEnumerable<MMM.ViewModels.TransactionViewModel.TransactionListViewModel>
@Scripts.Render("~/bundles/loadTransactionToModal")
<script type="text/javascript">
    $(document).ready(function () {
        TransactionDeleteOpenModalListener('@Url.Action("Delete", "Transaction")', $bankAccountId);
        TransactionEditOpenModalListener('@Url.Action("Edit", "Transaction")', $bankAccountId, '@User.Identity.GetUserId()');
    });

    @*function TransactionEditOpenModalListener() {
        $('.panel-heading').on('click',
            '.transaction-header-edit',
            function() {
                GetTransactionEditData($(this).attr('id'));
            });
    }

    function GetTransactionEditData(transactionId) {
        $.ajax({
            url: '@Url.Action("Edit", "Transaction")',
            type: 'GET',
            data: {
                id: transactionId,
                bankAccountId: $bankAccountId,
                userId: '@User.Identity.GetUserId()'
            },
            success: function (dataBack) {
                LoadDataIntoModalEditAndOpen(dataBack);
            },
            error: function() {
                alert("Coś poszło nie tak przy pobieraniu danych na temat transakcji.");
            }
        });
    }

    function LoadDataIntoModalEditAndOpen(data) {
        $('#ModalEditTransaction .modal-dialog').html(data);
        $('#ModalEditTransaction').modal('show');
    }

    function TransactionDeleteOpenModalListener() {
        $('.panel-heading').on('click',
            '.transaction-header-remove',
            function () {
                GetTransactionDeleteData($(this).attr('id'));
            });
    }

    function GetTransactionDeleteData(transactionId) {
        $.ajax({
            url: '@Url.Action("Delete", "Transaction")',
            type: 'GET',
            data: {
                id: transactionId,
                bankAccountId: $bankAccountId
            },
            success: function (dataBack) {
                LoadDataIntoModalDeleteAndOpen(dataBack);
            },
            error: function() {
                alert("Coś poszło nie tak przy pobieraniu danych na temat transakcji.");
            }
        });
    }

    function LoadDataIntoModalDeleteAndOpen(data) {
        $('#ModalDeleteTransaction .modal-dialog').html(data);
        $('#ModalDeleteTransaction').modal('show');
    }*@
</script>

@foreach (var transaction in Model)
{
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
}
