@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@model IEnumerable<MMM.ViewModels.TransactionViewModel.TransactionListViewModel>
@Scripts.Render("~/bundles/load-transaction-to-modal")
<script type="text/javascript">
    $(document).ready(function () {
        TransactionDeleteOpenModalListener('@Url.Action("Delete", "Transaction")', $bankAccountId);
        TransactionEditOpenModalListener('@Url.Action("Edit", "Transaction")', $bankAccountId, '@User.Identity.GetUserId()');
    });
</script>

@foreach (var transaction in Model)
{
        <div class="col-xs-6 col-sm-4 col-md-3">
            @Html.Partial("~/Views/Transaction/Transaction.cshtml", transaction)
        </div>
}
